body,html{
padding: 0;
margin: 0;
background-color: #5cbf94;
}
p{
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: "FontAwesome";
	src: url('../font/fontawesome-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Sosa";
	src: url('../font/sosa-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Weather';
	src: url('../font/weather.ttf') format('truetype');
}
@font-face {
	font-family: 'Open-Light';
	src: url('../font/OpenSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Open-Reg';
	src: url('../font/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Open-Bold';
	src: url('../font/OpenSans-Bold.ttf') format('truetype');
}
.weather .icon{
	font-family: "Weather";
}
@-webkit-keyframes spin {
	from {
	-webkit-transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(360deg);
}
}
#loader {
	color: rgba(255,255,255,0.8);
	font-family: 'Weather';
	-webkit-animation: spin 900ms linear infinite;
	-webkit-transform-origin: 50% 100%;
}
.status {
line-height: 1;
padding: 0;
font-size: 9.6em;
display: block;
position: absolute;
left: 50%;
top: 40%;
width: 70px;
height: 82px;
vertical-align: text-bottom;
margin: 0 0 0 -24px;
}

.weather{
	font-family: 'Open-Light';
	color: rgba(255,255,255,0.8);
	list-style: none;
	text-align: center;
	width: 460px;
	position: absolute;
	top:210px;
	right: 0;
	
}
.weather li{
	display: inline-block;
	float: left;
	margin: 8px 2px;
}

.weather li .temp{
	font-size: 1em;
	font-weight: bold;
	font-family: 'Helvetica Neue','Open-Bold',sans-serif;
}
.weather .day{
	font-size: 1.1em;
}
.weather .icon{
	font-size: 4em;
	margin: 0 0 7px 10px;
	height: 47px;
}

.weather li:first-child{
	margin-top: -50px;
}
.weather li:first-child .icon{
	font-size: 11.5em;
	height: 170px;
	margin: 0 0 7px 20px;
}
.weather li:first-child .day{
	font-size: 1.6em;
}
.weather li:first-child .temp{
	font-size: 3em;
}
.weather .high{
	opacity: .4;
}
.title{
	color: rgba(0,0,0,0.3);
	font-size: 1.3em;
	text-align: center;
	font-weight: normal;
	margin: 5px 0 20px 0;
	font-family: 'Helvetica Neue','Open-Reg',sans-serif;
}
.time-block{
	width: 400px;
	position: absolute;
	top: 22px;
	right: 23px;
	border-bottom: 2px solid rgba(255,255,255,0.4);
}
#time {
	font-size: 5em;
	line-height: .9;
	font-family: "Open-light";
	color: rgba(255,255,255,0.8);
	
}
.logo{
	opacity: 0.7;
	height: 200px;
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -40px;
	margin-left: -10px;
}
.logo-txt{
	font-size: 4em;
	font-family: "Open-bold";
	color: rgba(255,255,255,0.6);
	position: absolute;
	top: 12px;
	left: 169px;
	font-weight: bold;
}
.logo-txt h2{
	margin: 0;
	padding: 0;
}
.app-block{
	width: 800px;
	position: absolute;
	top: 240px;
	left: 35%;
	margin-left: -400px;
}
.a-block{
	float:left;
	text-align: center;
	padding: 20px 60px;
	opacity: 0.7;
}
.a-block .ico{
	font-family: "Sosa";
	color: rgba(255,255,255,0.6);
	font-size: 7em;
}
.a-block p{
	font-weight: bold;
	font-family: 'Helvetica Neue','Open-Bold',sans-serif;
	color: rgba(0,0,0,0.3);
	font-size: 1.3em;

}
.footer .lamba{
	width: 300px;
	height: 70px;
	left: 50%;
	margin-left: -150px;
	position: absolute;
	margin-top: 8px;
	opacity: 0.6;
}
.footer .lamba img{
	height: 70px;
}
.hide{
	display: none;
}
.selected{
	opacity: 1;
	box-shadow: 0 0 5px rgba(52,73,94,1);
	-webkit-box-shadow: 0 0 5px rgba(52,73,94,1); 
	border-radius: 6px;
}
.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10%;
	background-color: #34495E;
}

/*Remote Styles*/
.r-header{
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #34495E;
	height: 60px;
	text-align: center;
	font-family: "Open-Bold";
	color: rgba(255,255,255,0.6);
}
.r-header h2{
	margin: 12px 0;
}
.r-logo{
	opacity: 0.3;
}
