body,html{
padding: 0;
margin: 0;
background-color: #5cbf94;
}
p{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
@font-face {
	font-family: "FontAwesome";
	src: url('../font/fontawesome-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Sosa";
	src: url('../font/sosa-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Weather';
	src: url('../font/weather.ttf') format('truetype');
}
@font-face {
	font-family: 'Open-Light';
	src: url('../font/OpenSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Open-Reg';
	src: url('../font/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Open-Bold';
	src: url('../font/OpenSans-Bold.ttf') format('truetype');
}
.weather .icon{
	font-family: "Weather";
}
@-webkit-keyframes spin {
	from {
	-webkit-transform: rotate(0deg);
}
to {
	-webkit-transform: rotate(360deg);
}
}
#loader {
	color: rgba(255,255,255,0.8);
	font-family: 'Weather';
	-webkit-animation: spin 900ms linear infinite;
	-webkit-transform-origin: 50% 100%;
}
.status {
line-height: 1;
padding: 0;
font-size: 9.6em;
display: block;
position: absolute;
left: 50%;
top: 40%;
width: 70px;
height: 82px;
vertical-align: text-bottom;
margin: 0 0 0 -24px;
}

.weather{
	font-family: 'Open-Light';
	color: rgba(255,255,255,0.8);
	list-style: none;
	text-align: center;
	width: 460px;
	position: absolute;
	top:210px;
	right: 0;
	
}
.weather li{
	display: inline-block;
	float: left;
	margin: 8px 2px;
}

.weather li .temp{
	font-size: 1em;
	font-weight: bold;
	font-family: 'Helvetica Neue','Open-Bold',sans-serif;
}
.weather .day{
	font-size: 1.1em;
}
.weather .icon{
	font-size: 4em;
	margin: 0 0 7px 10px;
	height: 47px;
}

.weather li:first-child{
	margin-top: -50px;
}
.weather li:first-child .icon{
	font-size: 11.5em;
	height: 170px;
	margin: 0 0 7px 20px;
}
.weather li:first-child .day{
	font-size: 1.6em;
}
.weather li:first-child .temp{
	font-size: 3em;
}
.weather .high{
	opacity: .4;
}
.title{
	color: rgba(0,0,0,0.3);
	font-size: 1.3em;
	text-align: center;
	font-weight: normal;
	margin: 5px 0 20px 0;
	font-family: 'Helvetica Neue','Open-Reg',sans-serif;
}
.time-block{
	width: 400px;
	position: absolute;
	top: 22px;
	right: 23px;
	border-bottom: 2px solid rgba(255,255,255,0.4);
}
#time {
	font-size: 5em;
	line-height: .9;
	font-family: "Open-light";
	color: rgba(255,255,255,0.8);
	
}
.logo{
	opacity: 0.7;
	height: 200px;
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -40px;
	margin-left: -10px;
}
.logo-txt{
	font-size: 4em;
	font-family: "Open-bold";
	color: rgba(255,255,255,0.6);
	position: absolute;
	top: 12px;
	left: 169px;
	font-weight: bold;
}
.logo-txt h2{
	margin: 0;
	padding: 0;
}
.app-block{
	width: 800px;
	position: absolute;
	top: 240px;
	left: 35%;
	margin-left: -400px;
}
.a-block{
	float:left;
	text-align: center;
	padding: 20px 60px;
	opacity: 0.7;
}
.a-block .ico{
	font-family: "Sosa";
	color: rgba(255,255,255,0.6);
	font-size: 7em;
}
.a-block p{
	font-weight: bold;
	font-family: 'Helvetica Neue','Open-Bold',sans-serif;
	color: rgba(0,0,0,0.3);
	font-size: 1.3em;

}
.footer .lamba{
	width: 300px;
	height: 70px;
	left: 50%;
	margin-left: -150px;
	position: absolute;
	margin-top: 8px;
	opacity: 0.6;
}
.footer .lamba img{
	height: 70px;
}
.hide{
	display: none;
}
.selected{
	opacity: 1;
	box-shadow: 0 0 5px rgba(52,73,94,1);
	-webkit-box-shadow: 0 0 5px rgba(52,73,94,1); 
	border-radius: 6px;
}
.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10%;
	background-color: #34495E;
}

/*Remote Styles*/
.r-header{
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #34495E;
	height: 60px;
	text-align: center;
	font-family: "Open-Bold";
	color: rgba(255,255,255,0.6);
	z-index: 9999;
}
.r-header h2{
	margin: 12px 0;
}
.r-logo{
	opacity: 0.3;
}

.flex-control-nav {
	text-align: center;
}
.flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
}
.flex-control-paging li a.flex-active {
	cursor: default;
	background-color: #16a085;
	border-color: #16a085;
	text-decoration:none;
}
.flex-control-paging li a {
	background: white;
	border: 5px solid #d7dce0;
	border-radius: 6px;
	color: white;
	text-decoration:none;
	line-height: 16px;
	margin: 7px 2px 6px;
	padding: 0 4px;
	-webkit-transition: background 0.2s ease-out, border-color 0s ease-out, color 0.2s ease-out;
	-moz-transition: background 0.2s ease-out, border-color 0s ease-out, color 0.2s ease-out;
	-o-transition: background 0.2s ease-out, border-color 0s ease-out, color 0.2s ease-out;
	transition: background 0.2s ease-out, border-color 0s ease-out, color 0.2s ease-out;
	-webkit-backface-visibility: hidden;

}
.flex-viewport{
 margin-bottom: -10px;   
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.flex-direction-nav .flex-prev {
	left: -36px;
}
.flex-direction-nav a {
	width: 30px;
	height: 30px;
	margin: -20px 0 0;
	display: block;
	background: url(../images/bg_direction_nav.png) no-repeat 0 0;
	position: absolute;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;
	opacity: 0;
	-webkit-transition: all .3s ease;
}
.flexslider:hover .flex-next {
	opacity: 0.8;
	right: 5px;
}
.flex-direction-nav .flex-next {
	background-position: 100% 0;
	right: -36px;
}


/*
 * jQuery Flex.list-wrapper {
margin: 6px auto;
width: 300px;
} v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

.list-wrapper {
margin: 6px auto;
width: 300px;
}
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}



/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


.flex-direction-nav .flex-prev {opacity: 1; left: 0;}
.flex-direction-nav .flex-next {opacity: 1; right: 0;}


.video-slider{
	display:none;
}

.app-body {
position: absolute;
left: 0;
top: 60px;
max-width: 640px;
min-width: 320px;
z-index: 99999;
height: 100%;
width: 100%;
overflow: scroll;
}
.search input{
	padding: 22px 2px;
	font-size: 20px;
	width: 261px;
}
.search{
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -130px;
}

.slider{
	margin-top: 44px;
}


